/.idea
/.gradle
/gradle.properties
/build
/out
/_site
*.iml
*.ipr
*.iws
*~
**/build
./target
./project/target
./project/project

/examples/grails-betamax/target/
*.log
/.gradletasknamecache
/src/docs/_site/
.DS_Store
