/*
@cream: #f2f0e9;
@lightcream: #fefefa;

.fancy-font() {
	font-family: 'Michroma', sans-serif;
}

.lightbox() {
	#translucent > .background(@lightcream);
	#translucent > .border;
	.box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}

.fit-background() {
	     -o-background-size: contain;
	-webkit-background-size: contain;
	 -khtml-background-size: contain;
	        background-size: contain;
}

.stripes(@offset: 0) {
	background-image: url(../images/stripes.png);
	background-position: @offset 0;
	background-repeat: no-repeat;
	.fit-background;
}
*/

/* colours and layout tweaks */
body {
	/*background-color: #f2f0e9;*/
    font-family: sans-serif;
}

nav {
    position: fixed;
    width: 160px;
}

#hero-unit {
    background-image: url(../images/stripes.png);
    background-position: -40px 0;
    background-repeat: no-repeat;
    -o-background-size: contain;
   -webkit-background-size: contain;
-khtml-background-size: contain;
       background-size: contain;
}

.teaser {
	background-color: #fefefa;
	/*.border-radius(6px);*/
	/*.lightbox;*/
}

.teaser h2, .teaser p {
    margin: 10px;
}

#hero-unit h1,
.teaser h2 {
    font-family: 'Michroma', sans-serif;
}

#main h2 {
	border-bottom: 1px solid #bfbfbf;
	margin-bottom: 12px;
	margin-top: 48px;
}

footer {
	border: none;
	padding: 8px;
}

footer p {
    margin-bottom: 0;
}

code {
	background-color: transparent;
}

pre {
/*
	&.prettyprint {
		.lightbox;
	}
	*/
}

pre code {
    padding: 0;
}

/* GitHub ribbon */
#forkme {
    border: 0 none;
    position: absolute;
    right: 0;
    top: 0;
}