<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>&szlig;etamax - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="css/documentation.css">
	<link rel="stylesheet" type="text/css" href="css/pygments.css">
</head>
<body>
	<a href="http://github.com/robfletcher/betamax">
		<img id="forkme" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"/>
	</a>

	<div id="container">

		<h1>Betamax</h1>
		
		<nav>
			<ol>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="usage.html">Usage</a></li>
				<li><a href="configuration.html">Configuration</a></li>
			</ol>
		</nav>
		
		<h2>{{ page.title }}</h2>

		<div class="content">
			{{ content }}
		</div>

		<div class="footer">get the source code on GitHub : <a href="http://github.com/robfletcher/betamax">robfletcher/betamax</a></div>
	</div>
</body>
</html>
